<!DOCTYPE html>
<html class="scroll-smooth">

    <head>
        <title>Diego Quezada</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>



    <body class="px-20">

        {% include 'navbar.html' %}

        {% include 'home.html' %}

        {% include 'about.html' %}

        <!--
        {% include 'skills.html' %}

        {% include 'contact.html' %} -->

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
</html>