<section class="h-screen">

    <div class="h-full flex flex-col justify-center items-center">

        <div class="w-52 pb-5">
            <img class="rounded-full" src="../static/images/me-small.jpeg" alt="Diego Quezada">
        </div>

        <div class="pb-5">
            <h1 class="text-4xl font-medium text-slate-400" style="font-family: 'Roboto Mono', monospace;"> Diego Quezada </h1>
        </div>

        <div class="pb-5 text-2xl font-medium text-slate-400">
            <a href="https://github.com/diegoquezadac" target="_blank"> <ion-icon name="logo-twitter"></ion-icon> </a>
            <a href="https://www.linkedin.com/in/diegoquezadac/" target="_blank"> <ion-icon name="logo-linkedin"></ion-icon> </a>
            <a href="https://twitter.com/diegoquezadac" target="_blank"> <ion-icon name="logo-github"></ion-icon> </a>
        </div>

        <div class="text-xl font-light text-slate-600 text-center">
            <p class="w-80"> Chilean Computer Science student and <strong>Data Scientist</strong> at <a href="https://www.seez.dk/" target="_blank">Seez</a>.</p>
        </div>
        
        
    </div>

</section>