<div class="flex flex-col py-5 bg-light_green" id="navbar">

    <nav class="flex justify-items-start space-x-4">

        <a class="py-2 text-slate-700 text-large rounded-lg hover:overline" href="/">Home</a>

        <a class="px-3 py-2 text-slate-700 text-large rounded-lg hover:overline" href="/#about">About me</a>

        <a class="px-3 py-2 text-slate-700 text-large rounded-lg hover:overline" href="/#skills">Skills</a>

        <a class="px-3 py-2 text-slate-700 text-large rounded-lg hover:overline" href="/#contact">Contact</a>
    </nav>

</div>