<section class="h-screen" id="skills">
    <div class="py-12" style="font-family: 'Roboto Mono', monospace;">
        <h1 class="text-6xl font-medium text-slate-400">Skills</h1>
    </div>

    <div class="flex justify-center text-slate-400">

        <div>
            <div class="w-32">
                <img class="rounded-full" src="../static/images/python.png" alt="Python">
            </div>

            <div class="w-32">
                <img class="rounded-full" src="../static/images/pytorch.png" alt="PyTorch">
            </div>
        </div>

        <div>
            <div class="w-32">
                <img class="rounded-full" src="../static/images/fastapi.svg" alt="FastAPI">
            </div>

            <div class="w-32">
                <img class="rounded-full" src="../static/images/docker.webp" alt="Docker">
            </div>
        </div>

    </div>
</section>